.phrases-add-form{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.phrases-add-form>input[name='addPhrase']{
  padding: 10px;
  font-size: 18px;
  flex-grow: 1;
  max-width: 600px;
  border: 2px solid #2196F3;
  border-right: none;
}

.phrases-add-form>input[name='addPhrase']:focus {
  outline: none;
}

.phrases-add-form>button{
  border: 2px solid #2196F3;
  border-left: none;
  background: #2196F3;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .phrases-add-form>input[name='addPhrase'] {
    width: 90%;
  }
}