:root {
  /* Colors */
  --primary-color: #086788;
  --secondary-color: #13C4A3;
  --primary-color-highlighted: #2094f35e;
  --light-color: #fff;
  --emphasize-color: #87bfff38;
  --dark-text-color: #4b4b58;
  --light-text-color: var(--light-color);
  --russian-word: #1d6b8696;
  /* --russian-word: #fff9e1; */
  /* --russian-word: #efefef; */
  --english-word: var(--light-color);

  /* Border */
  --border-radius-size: 5px;
  --border-color: #5a5a5a;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: Arial;
  min-height: 100vh;
  background-color: #EAFDF8;
}

.wrapper{
  padding: 20px;
}

.empty {
  font-size: 25px;
  color: darkgray;
}

@media screen and (max-width: 576px) {
  .wrapper{
    padding: 10px;
  }
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #AFD2E9;
  border-radius: 10px;      
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-color);
  border-radius: 10px;
};