*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: Arial;
  min-height: 100vh;
}

.wrapper{
  padding: 20px;
}

::-webkit-scrollbar{
  width: 6px;
  background-color: #d4d4d4;
  border-radius: 10px;      
}

::-webkit-scrollbar-thumb{
  background-color: #2196F3;
  border-radius: 10px;
};