.changeLang-form{
  /* margin-top: 20px; */
  text-align: center;
}

.changeLang-button{
  min-width: 200px;
  padding: 15px 5px;
  /* background-color: #fff; */
  /* border: 2px solid rgba(223, 220, 220, 0.719); */
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: all .3s ease;
  color: var(--light-text-color);
  border-radius: var(--border-radius-size);
  margin-right: 10px;
}

.changeLang-button:focus{
  outline: none;
  color: #004289;
  background: #dae1e8;
}

.changeLang-button:hover{
  /* background-color: #cccccc3d; */
  /* color: black; */
  color: #004289;
  /* background: #cddeff; */
  background: #dae1e8;
}

.changeLang-button:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  .changeLang-button{
    min-width: auto;
    width: 48%;
  }
}