.changeLang-form{
  text-align: center;
}

.changeLang-button{
  min-width: 200px;
  padding: 15px 5px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: all .3s ease;
  color: var(--light-text-color);
  border-radius: var(--border-radius-size);
  margin-right: 10px;
}

.changeLang-button:hover, .changeLang-button:focus{
  background: var(--secondary-color);
}

.changeLang-button:focus {
  outline: none;
}

.changeLang-button:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  .changeLang-button{
    min-width: auto;
    width: 48%;
  }
}