.phrases-list{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.phrases-wrapper{
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0px 20px;
}

.phrases-item{
  position: relative;
  font-size: 20px;
  padding: 15px 0px;
  border-bottom: 2px solid #8497a74f;
  line-height: 1.5em;
  overflow: hidden;
}

.phrases-item:hover{
  background-color: rgba(200, 200, 200, 0.32);
}

.phrases-item:hover .phrases-item-remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrases-item-remove{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 30px;
  width: 30px;
  display: none;
  background-color: #ff000082;
  color: #fff;
  cursor: pointer;
  animation: slideFromRight .2s ease;
}

.phrases-item-remove:hover{
  background-color: red;
}

@keyframes slideFromRight{
  from{
    right: -200px;
  }
  to{
    right: 0px;
  }
}