.search-form{
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-form>*{
  font-size: 16px;
  text-align: center;
}

.search-text{
  border: 2px solid var(--primary-color);
  border-right: none;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-text:focus {
  outline: none;
  border-color: rgb(141, 141, 141);
}

.search-button{
  border: 2px solid var(--primary-color);
  border-left: none;
  background: var(--primary-color);
  color: var(--light-text-color);
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-button:hover{
  background: #dae1e8;
  color: #000;
}

/* 575 */