.adding-toggler {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  font-size: 35px;
  /* border: 2px solid #2196F3; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #2196F3;
  color: #fff;
}

.adding-toggler:hover {
  background-color: #0f8cf1;
}

.adding-toggler:focus {
  outline: none;
  background-color: var(--primary-color-highlighted);
}