.words-item {
  margin: 10px;
}

.word{
  font-size: 20px;
  text-align: center;
  padding: 25px;
  width: 100%;
  /* margin: 10px; */
  /* border: 2px solid rgba(223, 220, 220, 0.719); */
  border: 2px solid #5a5a5a;
  /* border: 2px solid #dae3ef; */
  color: #36374f;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s ease;
}

.word:hover, .word:focus{
  /* box-shadow: 0px 3px 0px #2196F3; */
  /* box-shadow: 0px 3px 0px #2196F3; */
  box-shadow: 0px 3px 0px #086788;
  transform: translateY(-4px);
  /* box-shadow: -4px 0px 0px #2196F3;
  transform: translateX(4px); */
}

.word:focus {
  outline: none;
}

.word.english{
  background-color: #fff;
}

.word.russian{
  /* background-color: #cccccc5e; */
  /* background-color: #f0f0f0; */
  background-color: #f5f5f5;
}

.word.selected {
  background-color: #03a9f41f;
  transform: translateY(-4px);
  /* box-shadow: -4px 0px 0px #2196F3; */
  /* transform: translateX(4px); */
}

@media screen and (max-width: 576px){
  .words-item{
    width: 100%;
  }
}