.words-amount {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: var(--border-radius-size);
  cursor: default;
  background-color: var(--secondary-color);
  color: var(--light-text-color);
}

@media screen and (max-width: 992px) {
  .words-amount {
    position: static;
    display: inline-block;
    margin-top: 20px;
  }
}